body
{
   font: size 14px;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
   color:black 
}
h1
{
    background-color: white;
    color:black;
    font-size: 30px;
    font-family:Arial, Helvetica, sans-serif;
    vertical-align: top;
    text-align: left;
}
h2
{
color: rgba(0, 0, 0, 0.692);;
    font-size: 45px;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    margin-bottom:130px;
    
}
h3
{
    color: rgba(0, 0, 0, 0.788);;
    font-size: 25px;
    font-family:'Times New Roman', Times, serif;
    text-align:left;
    margin:0px;
    padding:0px;

}
h4
{
    color: black;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    text-align:top;
    margin:2px;
    padding:3px;
 
}
h5
{
    color: b;
    font-size: 16px;
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
    font-style:oblique;
}
h6
{
  font-family:Arial, Helvetica, sans-serif;
  vertical-align: top;
  text-align: center;
  font-size: 25px;
  color:rgba(0, 0, 0, 0.788);
  margin:0;
  margin-bottom:20px;
}
h7
{
  font-family:'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 25px;
  color:black;
  font-size: 20px;
}
h8
{
  color: black;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    text-align:right;
    margin:2px;
    padding:3px;
}
.pontas
{
    display:inline-block;
    width:calc(33%);
    vertical-align: top;
    margin:8px;
    box-sizing: border-box;
    padding:8px;
}
.animais
{
    display:inline-block;
    width:calc(100%);
    vertical-align: top;
    margin:8px;
    box-sizing: border-box;
    padding:8px;
}

#miniatura
{
    float:left;
    margin:5px;
}
.rodape
{
    display:inline-block;
    width:calc(32% - 10px);
    vertical-align: top;
    margin:8px;
    box-sizing: border-box;
    padding:8px;
    color:grey;
    font-size: 18px;
    font-family:'Times New Roman', Times, serif;
    
}
footer
{
    background-color:white;
    margin-top:200px;
    
}
.guia
{
    display:inline-block;
    width:calc(20% - 15px);
    vertical-align: middle;
    margin:3px;
    box-sizing: border-box;
    color:grey;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif; 
}
.clickme
{
    background-color: black;
}
.marked {
    background-color: rgb(83, 231, 69);
    width:calc(40% - 15px);
    padding:8px;
    box-sizing:block;
    margin-top:40px;
    color:whitesmoke;
    font-size: 18px;
    margin-bottom:8px;
    border-color: grey;
  }
